/* 全ライブ音源表示モードでのみ使うcss */
.dis {
    opacity: .5;
    cursor: not-allowed;
}

/* 音源トグルボタン */
.aud-tgl {
    margin-right: 4px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

/* トグルが開いている状態 */
.aud-tgl.is-open {
    color: #c33;
    /* 少し落ち着いた赤 */
}

/* 曲名セルを少し右にずらす */
.aud-shft {
    padding-left: 1em;
}

.aud-bs {
    padding: 0 !important;
    border: none !important;
}

.aud-wrap {
    padding: 0 0 .3em 1em;
}

/* ワイド画面 */
@media (min-width: 920px) {
    .aud-wrap {
        padding-left: 48px;
    }
}

/* =====小さい表のレイアウト・サイズ ===== */
.aud-mn {
    margin: 0 0 0 auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    font-size: .9em;
}

/* 
.aud-mn.tbl thead th {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.08);
}
    */

/* ===== 配色 ===== */
/* ヘッダ行 */
.aud-mn.tbl th {
    background: #f0f0f0;
}

/* 本文：白 / 薄グレーの交互 */
.aud-mn.tbl tbody tr:nth-child(odd) {
    background: #fff;
}

.aud-mn.tbl tbody tr:nth-child(even) {
    background: #f7f7f7;
}

/* mini table：上下の border を消す（左右は残す） */
.aud-mn tr:first-child th,
.aud-mn tr:first-child td {
    border-top: 0;
}

/*
.aud-mn tr:last-child td {
    border-bottom: 0;
}
    */

/* ライブ音源データが無い場合の表示 */
.aud-no {
    color: #777;
    font-style: italic;
}