.dis {
    opacity: .5;
    cursor: not-allowed;
}

/* トグルボタン */
.aud-tgl {
    margin-right: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #3f7bd5;
}

/* tgl open */
.aud-tgl.is-open {
    color: #bc2f1a;
    font-weight: 600;
}

/* 曲名を少し右に */
.aud-shft {
    padding-left: 20px;
}

.aud-bs {
    padding: 0 !important;
    border: none !important;
}

.aud-wrap {
    margin: 0 0 .3em 1em;
    border-bottom: 1px solid #ccd;
}

/* ワイド画面 */
@media (min-width: 920px) {
    .aud-bs {
        padding: 0 0 0 48px !important;
        border: none !important;
    }
}

/* 小さい表 */
.aud-mn {
    margin: 0 0 0 auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    font-size: .9em;
}

/* ヘッダ行 */
.aud-mn.tbl th {
    background: #f0f0f0;
}

/* 白/グレーの交互 */
.aud-mn.tbl tbody tr:nth-child(odd) {
    background: #fff;
}

.aud-mn.tbl tbody tr:nth-child(even) {
    background: #f7f7f7;
}

/* 上下borderを消す */
.aud-mn tr:first-child th,
.aud-mn tr:first-child td {
    border-top: 0;
}

.aud-mn tbody tr:last-child td {
    border-bottom: 0;
}

.aud-mn th:nth-child(3),
.aud-mn td:nth-child(3) {
    border-right: 4px double #dde;
}

.aud-no {
    color: #777;
    font-style: italic;
}