/* ======== Global Navigation ======== */
#gnav {
  flex-shrink: 0;
  width: 50%;
  min-width: 100px;
  max-width: 300px;
  background-color: #fefefe;
}

#gnav-ul {
  flex-shrink: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
}

#gnav-ul .gnav-li {
  flex: 1;
  align-items: stretch;
}

.gnav-btn {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 12px 6px;
  box-shadow: 0 0 4px #ccc;
  border-radius: 6px;
  gap: 3px;
  text-decoration: none;
}

#gnav-ul a,
#gnav-ul a:visited {
  color: #333;
}

.gnav-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 1px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
}

/* アイコンサイズ調整 */
.gnav-icon {
  display: block;
  width: 24px;
  height: 24px;
}

/* ホバー例 */
.gnav-btn:hover {
  background-color: #f0f0f0;
  box-shadow: none;
  text-decoration: none;
}

/* モバイルでの幅調整*/
@media (max-width: 600px) {

  #gnav {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  #gnav-ul {
    gap: 2px;
  }

  .gnav-icon {
    width: 18px;
    height: 18px;
  }

  .gnav-btn {
    min-width: 80px;
    font-size: 0.8rem;
  }
}