/* =========================
   result table base
   ========================= */

#resultTbl {
    /* JSと連動する変数定義 */
    --th-padx: 8px;
    /* 左右パディングの合計 (4px + 4px) */
    --th-pady: 6px;
    /* 上下のパディング */

    width: auto;
    table-layout: fixed;
    font-size: 1rem;
}

/* =========================
   header
   ========================= */

#resultTbl th {
    /* 変数を使用してパディングを適用 */
    padding: var(--th-pady) calc(var(--th-padx) / 2);

    line-height: 1.2;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}

#resultTbl th>div {
    display: block;
    line-height: 1.4;
}

/* 行ヘッダ（左上空セル or 曲名列） */
#resultTbl thead th.row-head {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* =========================
   body cells
   ========================= */

#resultTbl tbody td {
    padding: 4px 2px;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
}

/* 曲名（行ヘッダ列） */
#resultTbl tbody td.row-head {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: var(--rowHW);
}

#resultTbl thead th:not(:first-child) {
    /* すべてのCD列に同じ幅を割り振る指示。
       具体的な数値ではなく 1% のような小さな値を指定すると、
       table-layout: fixed の性質により、残りの幅を各列が均等に分け合います。
    */
    width: var(--col-width);
    /* ある程度の幅を確保しつつ等間隔にする */
}