* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 0 !important;
  padding: 0 !important;
}

html {
  font-size: 14px;
  line-height: 1.6;
  font-family: system-ui, sans-serif;
}

body {
  padding: 0 .5rem;
  background-color: #fafcff;
  color: #333;
  min-height: 100vh;
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
}

.content {
  display: flex;
  flex-direction: column;
  padding: .1rem;
  gap: .8rem;
}

h1 {
  padding: 0;
  color: #2564ad;
  font-size: 24px;
}

h2 {
  margin: .5em 0 0;
  padding: .1em .8em;
  border-bottom: 1px solid #ccd;
  border-left: 4px solid #2564ad;
  border-radius: 4px;
  font-size: 21px;
  color: #2564ad;
}

p {
  padding: 0 1rem 0;
}

a {
  color: #005DEA;
}

a:visited {
  color: #8A74A5;
}

.content ul {
  padding-left: 2.4em;
  list-style: disc;
}

.content li {
  padding-left: .1em;
}

/* === △トップ === */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #007cba;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  display: none;
  z-index: 999;
  opacity: .8;
}

#back-to-top.show {
  display: inline-block;
}