/* ここから　toc関連 */
#toc-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1px;
}

#toc-nav {
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 6px;
  padding: 1.2rem 1rem;
}

#toc-title {
  display: block;
  padding-bottom: 1em;
  font-weight: bold;
  text-align: center;
}

#toc-list {
  display: flex;
  flex-direction: column;
  padding-left: .8rem;
  gap: 4px;
  list-style: none;
}

.toc-link {
  display: block;
  color: #495057;
  text-decoration: none;
  border-radius: 3px;
  transition: all .2s ease;
}

.toc-link:hover {
  padding-left: .2em;
  background: #e9ecef;
  color: #2564ad;
  text-decoration: underline;
}

.toc-link.active {
  padding-left: .5em;
  background: #e3f2fd;
  color: #2564ad;
  font-weight: bold;
}

@media (max-width: 600px) {
  #toc-nav {
    padding: .4em;
  }

  #toc-list {
    padding-left: 1rem;
    gap: 1px;
  }

  #toc-wrapper {
    width: 100%;
  }
}